body {
    font-family: 'Arimo', sans-serif !important;
}

#weather-information {
    background-color: #bdc3c7;
}
#weather-information h3{
    width:80%;
}

#weather-container {
    background-color: #ecf0f1;

}